@import url("genshin-impact.css");

:root {
  --genshin: HYWenHei, Arial;
}

@font-face {
  font-family: HYWenHei;
  src: url(genshin-impact.woff2) format("woff2"),
    url(genshin-impact.woff) format("woff"),
    url(genshin-impact.ttf) format("truetype");
}

body {
  font-family: HYWenHei;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
}
