body {
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #fea775;
  
  
}

/*Footer*/
.footer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-top: 100px;
  background-color: #260b2c;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.footer a {
  text-decoration: none;
  color: white;
}

/*Top*/
.title {
  text-align: center;
}

.title h1 {
  font-weight: 900;
  font-size: 50px;
  margin: 20px;
  margin-bottom: 1px;
}

/*Body of the HTML*/
.body, .abyss, .output {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

/*Inputs*/
button {
  font-size: large;
  text-align: center;
}

.input {
  display: block;
}

.checkbox {
  display: block;
}

/*Others*/
.h {
  display: flex;
  justify-content: center;
}

h4 {
  text-align: center;
}

/*Submit*/
.submit {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.submit button {
  width: 200px;
  height: 100px;
}

/*Fields*/
.main.field {
  width: 400px;
  height: 500px;
  max-width: 400px;
  max-height: 500px;
}

.abyss.field {
  width: 400px;
  height: 300px;
}

.output.field {
  width: 400px;
  height: 300px;
}

/*Field Layouts*/
